*{
    margin:0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 18px;
}


nav {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

#nav-logo {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

#nav-list {
    list-style-type: none;
    display: flex;

}

.list-item a {
    text-decoration: none;
    color: brown;
    padding-right: 10px;
}

.list-item a:hover {
    font-size: larger;
    font-weight: bolder;
    opacity: 0.5;
}

.section-container {
    font-size:20px;
    width: 100vw;
    height: 20rem;
    background-color: aliceblue;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    font-size: 0.7em;
    width: 20%;
    height: 8rem;
    border: 1px solid black;
    background-color: beige;
    min-width:120px;
    min-height:180px;
}

/* .p-text{
    font-size: 16px;
    width: 400px;
    min-width:300px;
    outline: 1px solid red;
    height: 8em;
    max-height: 80px;
} */

section{
    padding-top:50px;
    border:0.5px solid black
}