* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 18px;
}


nav {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 1rem 0;
}

#nav-logo {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

#nav-list {
    list-style-type: none;
    display: flex;

}

.list-item a {
    text-decoration: none;
    color: brown;
    padding-right: 10px;
}


.section {
    font-size: 20px;
    width: 100vw;
    height: 20rem;
    background-color: aliceblue;
    min-width: 500px;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
}

.card {
    font-size: 0.7em;
    width: 20%;
    height: 8rem;
    /* border: 1px solid black; */
    background-color: beige;
    min-width: 120px;
    min-height: 180px;
    box-shadow: 0.5px 1px black;
}

section {
    padding: 80px 0px;
}

.contact-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
}

.contact-section-form,
.contact-section-media {
    box-shadow: 1px 2px grey;
    border-radius: 50px;
    border: 1px solid rgb(159, 159, 255);
}

.contact-section-form {
    padding: 80px 0px;
    width: 90%;
}

.contact-section-media {
    padding: 20px 0px;
}


.list-item a:hover{
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

textarea:focus, input:focus{
    background-color: blanchedalmond;
    color: brown;
    box-shadow: 0.5px 1px greenyellow;
}

button:hover{
    background-color: aqua;
}

button:focus{
    background-color: red;
}

button:active{
    background-color: fuchsia;
}

.intouch:focus{
    background-color: aquamarine;
}

a:visited{
    color:purple;
    font-weight: 500;
}

h2:first-child{
    color: blueviolet;
    font-variant: small-caps;
}